@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
/* repeatable pattern */
:root {
	--clr-dark: #2b2b2b;
	--clr-light: #fff;
	--clr-primary: #1b8b83;
	--clr-secondary: #cfa584;
	--clr-semilight: #d9d9d9;
	--font: "Truculenta", sans-serif;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	scroll-behavior: smooth;
	list-style: none;
}
html {
	font-size: 62.5%;
	height: 100%;
}
body {
	color: var(--clr-dark);
	font-family: var(--font);
	font-size: 1.6rem;
	overflow-x: hidden;
	line-height: 1.4;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
	display: block;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

.container {
	width: 100%;
	max-width: 150rem;
	margin: 0 auto;
	padding: 0 5rem;
}

/*HEADER*/
.header {
	padding: 2rem 0;
	background-color: var(--clr-semilight);
}
.header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_nav {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.header .header_wrapper ul li a {
	font-weight: 700;
	color: var(--clr-dark);
	font-size: 2rem;
}
.header .header_wrapper ul li a:hover {
	color: var(--clr-primary);
}

/* MOBILE RESPONSIVE */
.header .toggle_menu span {
	color: var(--clr-primary);
	width: 3rem;
	height: 0.3rem;
	border: 2px solid;
	border-radius: 1rem;
}
.header .toggle_menu {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.header .toggle_menu {
	display: none;
}
@media screen and (max-width: 520px) {
	.header .toggle_menu {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.header .header_nav {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		background-color: var(--clr-semilight);
		text-align: center;
		justify-content: center;
		flex-direction: column;
		z-index: 9;
		transform: all 0.5 ease;
		transform: translateY(-18rem);
		margin-top: 26rem;
		gap: 2rem;
		right: -100rem;
	}
	.header_nav.open {
		right: 0;
		transform: all 0.5 ease;
	}
	.header_wrapper img {
		width: 10rem;
	}
	.toggle_menu.open span:first-child {
		transform: translate(0, 10px) rotate(230deg);
		transition: 0.5s ease;
	}
	.toggle_menu.open span:nth-child(2) {
		opacity: 0;
		transition: 0.5s ease;
	}
	.toggle_menu.open span:last-child {
		transform: translate(0, -7px) rotate(-230deg);
		transition: 0.5s ease;
	}
}

/* TOP */
.top {
	background-color: var(--clr-secondary);
	padding: 3rem 0;
	text-align: center;
}
.top span {
	font-size: 1.7rem;
	font-weight: 100;
	margin-bottom: 5rem;
}
.top h4 {
	line-height: 2.2rem;
	font-size: 3rem;
	font-weight: 700;
}

/* HOME BANNER */
.homebanner {
	padding-top: 3rem;
	padding-bottom: 7rem;
}
.homebanner_wrapper {
	display: flex;
	justify-content: space-between;
}
.homebanner_left {
	max-width: 80rem;
}
.homebanner_left ul li {
	line-height: 5rem;
}
.homebanner_left ul li:first-child {
	color: var(--clr-primary);
	font-size: 5rem;
	font-weight: 700;
}
.homebanner_left ul li:nth-child(2) {
	color: var(--clr-secondary);
	font-size: 5rem;
	font-weight: 700;
	margin-left: 7rem;
}
.homebanner_left ul li:last-child {
	/* position: absolute; */
	color: var(--clr-primary);
	font-size: 5rem;
	font-weight: 100;
}
.homebanner_left ul li:last-child::before {
	display: inline-block;
	position: relative;
	content: " ";
	background-color: var(--clr-primary);
	width: 20rem;
	height: 0.2rem;
	bottom: 1rem;
	right: 1rem;
}
.homebanner_left p {
	margin-bottom: 5rem;
}
.homebanner_right {
	display: flex;
	gap: 2rem;
}
.homebanner_right img:last-child {
	position: relative;
	top: 4rem;
}

@media screen and (max-width: 520px) {
	.homebanner_wrapper {
		flex-direction: column;
	}
	.homebanner_left ul li:last-child::before {
		width: 10rem;
	}
	.homebanner_right {
		display: none;
	}
}

/* ABOUT SECTION */
.aboutsection {
	padding: 3rem 0;
	background-color: var(--clr-dark);
}
.aboutsection h2 {
	color: var(--clr-primary);
	font-size: 3rem;
	font-weight: 700;
}
.aboutsection h2::before {
	display: inline-block;
	position: relative;
	content: "  ";
	background-color: var(--clr-primary);
	height: 0.2rem;
	width: 120rem;
	bottom: 1rem;
	right: 1rem;
}
.aboutsection_wrapper {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	align-items: center;
}
.aboutsection_right {
	max-width: 100rem;
}
.aboutsection_right p {
	color: var(--clr-light);
	margin-bottom: 2rem;
}
@media screen and (max-width: 520px) {
	.aboutsection_left {
		display: none;
	}
	.aboutsection h2::before {
		display: none;
	}
}

/*CATALOG SECTION*/

.catalogsection {
	padding: 3rem 0;
}
.catalogsection_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5rem;
}
.catalogsection h2 {
	color: var(--clr-primary);
	font-size: 3rem;
	font-weight: 700;
}

.catalogsection h2::after {
	display: inline-block;
	position: relative;
	content: " ";
	background-color: var(--clr-primary);
	height: 0.2rem;
	width: 120rem;
	bottom: 1rem;
	left: 1rem;
}

.catalogsection_card {
	background-color: var(--clr-semilight);
	max-width: 40rem;
	margin-top: 4rem;
}
.catalogsection_card img {
	width: 40rem;
}
.catalogsection_card--content {
	padding: 1rem;
}
.catalogsection_card--content h3 {
	color: var(--clr-secondary);
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.catalogsection_card--content p {
	margin-bottom: 1rem;
}
@media screen and (max-width: 520px) {
	.catalogsection h2::after {
		display: none;
	}
	.catalogsection_wrapper {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

/* CALL TO ACTION */
.cta {
	padding: 3rem 0;
	background-color: var(--clr-primary);

	color: var(--clr-semilight);
}
.cta_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cta h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
.cta p {
	margin-bottom: 1rem;
}
/* FOOTER */
.footer {
	background-color: var(--clr-dark);
	color: var(--clr-semilight);
	padding: 2rem 0;
}
.footer_wrapper {
	display: flex;
	justify-content: space-between;
}
.footer ul {
	display: flex;
	gap: 0.8rem;
}
.footer ul li a {
	color: var(--clr-semilight);
}
/* FOOTER  MOBILE  */
@media screen and (max-width: 520px) {
	.footer_wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
/* ABOUT PAGE BANNER*/
.aboutbanner {
	padding: 3rem 0;
}
.aboutbanner_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}
/* ABOUT PAGE */
.aboutbanner {
	padding: 3rem 0;
}
.aboutbanner_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}
.aboutbanner_right {
	max-width: 85rem;
}
.aboutbanner_right h1 {
	font-size: 7rem;
	font-weight: 700;
	letter-spacing: 2rem;
	margin-bottom: 2.5rem;
}
.aboutbanner_right p {
	margin-bottom: 2rem;
	text-align: justify;
}
.aboutbanner_right ul {
	display: flex;
	gap: 1rem;
}
.aboutbanner_right ul li a {
	color: var(--clr-dark);
	font-weight: 700;
}
.aboutbanner_left small::before {
	display: inline-block;
	position: relative;
	content: "  ";
	background-color: var(--clr-dark);
	height: 0.2rem;
	width: 35rem;
	bottom: 0.5rem;
	right: 1rem;
}
/* ABOUT PAGE BANNER MOBILE*/
@media screen and (max-width: 520px) {
	.aboutbanner_left {
		display: none;
	}
	.aboutbanner_right h1 {
		font-size: 4rem;
	}
	.aboutbanner_right ul li a {
		font-size: 1.5rem;
	}
}

/* LATEST STYLE  */
.latestsection {
	padding: 3rem 0;
	background-color: var(--clr-dark);
}
.latestsection h5 {
	color: var(--clr-semilight);
}
.latestsection_wrapper {
	display: grid;
	grid-template-columns: 42rem 42rem 42rem;
	justify-content: center;
	margin-bottom: 5rem;
}
.latestsection h1 {
	color: var(--clr-primary);
	font-size: 5rem;
	font-weight: 700;
}

.latestsection_card {
	background-color: var(--clr-semilight);
	max-width: 40rem;
	margin-top: 4rem;
}
.latestsection_card img {
	width: 40rem;
}
.latestsection_card-content {
	padding: 1rem;
	font-size: 2rem;
	text-align: justify;
}
/* LATEST SECTION*/
.latestsection_card-content h3 {
	color: var(--clr-secondary);
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 1rem;
	margin-left: 2rem;
}
.latestsection_card-content p {
	font-weight: 500;
	margin-top: 1rem;
	margin-bottom: 4rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
/* LATEST STYLE MOBILE */
@media screen and (max-width: 520px) {
	.latestsection_wrapper {
		grid-template-columns: 1fr;
	}
}
/* CATALOG BANNER*/
.catalogbanner_bg {
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url(catalog-banner.png);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;

	/* TO CENTER THE TEXT*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.catalogbanner h1 {
	font-size: 7rem;
	font-weight: 700rem;
	color: var(--clr-primary);
	
}
.catalogbanner p {
	font-size: 2rem;
	font-weight: 700;
}


/* INTERIOR DESIGN PACKAGE */
.package {
	padding: 3rem;
	background-color: var(--clr-light);
}
.package_right {
	width: 100rem;
	margin-right: 10rem;
	margin-left: 10rem;
}
.package_wrapper h2 {
	color: var(--clr-primary);
	font-size: 6rem;
	font-weight: 700;
	text-align: center;
	padding: 3rem;
}
.package_theme {
	padding: 5rem;
	display: flex;
	gap: 0.5;
}
.package_theme h2 {
	color: var(--clr-primary);
	font-size: 5rem;
	font-weight: 700;
	text-align: center;
}
.package_theme p {
	text-align: justify;
	margin-bottom: 0.5rem;
}
.package_theme {
	padding: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--clr-light);
	background-size: cover;
}
.package_theme img {
	padding: 2rem;
	width: 100;
}
.package_theme:nth-child(Odd) {
	flex-direction: row-reverse;
	background-color: var(--clr-semilight);
}
/* UPDATES */
.updates {
	padding: 5rem 0;
}
.updates_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 18rem;
}
.update_contents h2 {
	color: var(--clr-primary);
	font-size: 7rem;
	font-weight: 700;
	text-align: center;
}
.update_contents p {
	text-align: justify;
}

/* BUILDING DESIGN */
.design {
	padding: 5rem 0;
	background-color: var(--clr-light);
}
.design_main h2 {
	font-size: 4rem;
	font-weight: 700;
	color: var(--clr-secondary);
}
.design_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5rem;
}
.design_cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}
.cards.cards {
	padding: 2rem;
	background-color: var(--clr-semilight);
	margin-bottom: 3rem 0;
	font-weight: bold;
}
.design_sidebar h2 {
	font-size: 4rem;
	font-weight: 700;
	color: var(--clr-secondary);
}
.design_cards h4 {
	text-align: center;
	font-style: 3rem;
	font-size: 3rem;
	padding-bottom: 2rem;
}
.design_sidebar ul li {
	margin-bottom: 20px;
	justify-content: space-between;
	font-size: 2.5rem;
	font-weight: bold;
	display: flex;
}
.design_cards a {
	margin-bottom: 3rem;
	font-size: 3.5rem;
	color: var(--clr-dark);
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
@media screen and (max-width: 520px) {
	.updates_wrapper {
		flex-direction: column;
	}
	.design {
		flex-direction: column;
	}

	.updates {
		flex-direction: column;
	}
}

/* projects */
.projects {
	padding: 5rem;
}
.projects h4 {
	margin-bottom: 2rem;
	text-align: center;
	color: var(--clr-primary);
	font-size: 4rem;
	font-weight: 700;
}
.projects_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3rem;
}
.projects_wrapper img {
	width: 100%;
}
.project_cards ul {
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 520px) {
	.updates_wrapper {
		flex-direction: column;
	}
	.project_cards {
		flex-direction: column;
	}

	.updates {
		flex-direction: column;
	}
}
@media (max-width: 520px) {
    .updates{
    flex-direction: column;
    }
    .updates_wrapper img{
        display: none;
    }
    .updates_wrapper{
        flex-direction: column;
    }
    .design_wrapper{
        flex-direction: column;
    }
    .design_wrapper{
        grid-template-columns: 1fr;
        display: grid;
        
    }
}
/*CONTACTS BANNER*/
.contactbanner {
	padding: 50px;
}
.contact h3 {
	color: gray;
}
.contactbanner h2 {
	font-size: 50px;
	margin-bottom: 10px;
	color: var(--clr-primary);
	font-size: 5rem;
	font-weight: 700;
}
.contactbanner_wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.contact_form {
	flex-direction: column;
	margin-left: 10rem;
	margin-right: 10rem;
}
.contact_form textarea {
	border: none;
	background-color: transparent;
	width: 100%;
	border-bottom: 1px solid gray;
	padding: 3rem 0;
}
.contact_form input {
	border: none;
	background-color: transparent;
	width: 100%;
	border-bottom: 1px solid gray;
	padding: 3rem 0;
}
.contact_form button {
	width: 80%;
	padding: 10px 16px;
	background-color: var(--clr-dark);
	color: var(--clr-light);
	margin-top: 10px;
	border: none;
	border-radius: 20px;
}
.contact_info i {
	color: var(--clr-secondary);
	font-size: 30px;
}
.contact_info li {
	color: var(--clr-light);
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	gap: 30px;
}
.contact_info {
	background-color: var(--clr-dark);
	padding: 40px;
}
.contact_info h2 {
	color: var(--clr-light);
}
@media screen and (max-width: 520px) {
	.contact_form {
		flex-direction: column;
	}
	.contactbanner_wrapper {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
	.contact_form button {
		align-items: center;
		justify-content: center;
	}
}
@media (max-width: 520px) {
    
    .contacpage_wrapper{ 
        flex-direction: column;
        grid-template-columns: 1fr;
        padding: 3rem;
    }
}
/* REPEATABLE*/
.btn {
	background-color: transparent;
	border: transparent;
	border-radius: 10rem;
	padding: 1rem 2rem;
	color: transparent;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-weight: 700;
}
.btn.bg--semi-light {
	background-color: var(--clr-semilight);
	color: var(--clr-dark);
}
.btn.bg--semi-light:hover {
	background-color: var(--clr-dark);
	color: var(--clr-semilight);
}

.btn--nobt {
	color: var(--clr-dark-);
}
